.bodier img{
    position: absolute;
    height: 40%;
    width: 40%;
    margin-left: 2%;
}
.bodier2{
    position: absolute;
    font-family: "Segoe Script";
    margin-left: 45%;
    margin-top: -2%;
}
.header3 img{
    position: absolute;
    height: 60%;
    width: 45%;
    margin-left: 50%;
    margin-top: 30%;

}
.header4{
    position: absolute;
    font-family: "Segoe Script";
    margin-right: 60%;
    margin-top: 20%;
    margin-left: 3%
}
.header5 img{
    position: absolute;
    height: 40%;
    width: 40%;
    margin-right: 0%;
    margin-top: 60%;
    margin-left: 3%
}
.header6{
    position: absolute;
    font-family: "Segoe Script";
    margin-left: 50%;
    margin-top: 60%;
}
.header7{
    position: absolute;
    font-family: "Segoe Script";
    border-top: 5px solid lightgrey;
    margin-top: 80%;
    margin-left: 35%;

}
.header8{
    font-family: "Segoe Script";
    margin-top: 85%;
    margin-left: 3%;
}