.header{
    margin: 0 85% 0% 5%;
    position: ;
}
.durka a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cursive;
    margin: 0 0 0 5%;
}
h4{
    margin-left: 12%;
    font-weight: bold;
    color: darkgray;
    font-family: "Segoe Script";
    position: absolute;
}